%h1 Local Bookmaking Clubs
 
%p 
  Thrive is thrilled to offer Bookmaking Clubs after school in local schools and learning centers, 
  and on weekends in some locations. Our list of locations is growing! If you are interested in these clubs for your school or center, please be in touch. 
 
%p
  The goal of our clubs is to make Reading and Writing fun! Reading and Writing can be enjoyed just like other hobbies. In our clubs, we share the best of children’s literature, create books, and have great conversations. Our After School clubs share the same components of all of our literacy classes:
  Small Group Learning: We require 6 children for a club and cap the group at 12. We make sure each child gets the individual attention and support they need as they grow. 
  Designed for all children: Our clubs appeal to children who desire to spend more time reading, illustrating and writing past the school day AND those who are more resistant and need extra support.
  A highly qualified, nurturing literacy teacher guides and supports growing readers and writers. 
  A cozy, risk-free environment that promotes taking your time, making choices, and getting to know your interests and goals.

.classes
  %h2 Class Offerings 
 
  .class
    %h3 Book- Making (K-3rd grade)
    %p Calling all aspiring authors! In this class we use great children’s books as a model for how to write our own books. We assemble, illustrate, revise, and share our books like real authors.
 
  .class
    %h3 Books
    %p In this class we use everyday materials to construct our own books in creative and imaginative ways. Perfect for children that have already attended our Great Books and Bookmaking Class or for those new to Thrive After School Clubs, we share great books while learning the process that real authors go through as they write. While we go from boxes to books, the children take pride in the construction of materials, ideas and words. Readers and writers of all ability levels are welcome- this class highlights the joy that reading and writing can bring to all children. 
 
  .class
    %h3 Book Club (5th Grade)
    %p 
      Book Lovers! In this class we select a novel (maybe a graphic novel!)to read and discuss together.
      We focus our conversations on life’s lessons from the book, helping us to navigate our own lives
      with each other’s support.
 
  .class
    %h3 books Buddies (w/Non-Fiction) K-5thGrade
    %p
      Love non-fiction? This class is focused on reading in partnerships. We pair up older and 
      younger students and same age peers to discuss and learn from captivating books.
 
    %p
      Have questions? Get in touch.
 
