= render "schedule"
  
%h1 Get Set to Read!
.age Age: 3 year olds
.length 1 hour
 
%p
  In our small group learning classes for three year olds, we share high quality books 
  in interactive ways, play early literacy games and begin to expose students to letters 
  and sounds, starting with those in their names.
 
%p
  This is a drop off class! We say goodbye to families at the door and embark on a 
  literacy adventure by acting out stories, singing literacy themed songs, and practicing 
  "reading" and "writing" in developmentally appropriate ways.  
 
%p 
  Families are invited in for the last ten minutes of class in which we will demonstrate 
  a strategy that families can try out at home to help nurture and grow their budding readers
  and writers. 
 
                                                                              