= render "schedule"
  
%h1 Preschool Readers
.age Age: 4-5 year olds
.length 1 hour
 
%p
  A perfect compliment to half-day Pre-Kindergarten programs.  We use research-based resources 
  to build a curriculum based on your child's interests & needs. Your child will gain early 
  literacy skills, enrich and enhance development, and foster a love of reading and writing. 
 
%p
  We are proud that our preschool classes also act as a Literacy Labsite for local Pre-K 
  teachers. After many years in the field of professional development for teachers, we know 
  that what we do in these classes is cutting edge, evidence-based practice that other 
  teachers can benefit from seeing in action.                           

%p 
  We only allow 4 children in each class in order to differentiate instruction and maximize
  each child's experience. Class includes handouts of strategies for home. 