= render "schedule"

%h1 Tutoring & Small Groups
.age Age: First through Sixth Grade
.length 1 hour
 
%p ​Children need support in reading and writing for various reasons. They may:

%ul 
  %li Show signs of a true disability
  %li Require more differentiated instruction and individualized attention
  %li Dislike reading and/or writing and, as a result, lack focus, motivation, and engagement
  %li Need additional support with homework and study skills  
  %li Need enrichment because their needs and interests aren't met in the regular classroom
 
%p
  We know that coming for an additional hour of reading or writing is a big committment for 
  any child, especially after a full day of school.  For this reason, we are committed to 
  getting the most out of the hour in fun and interactive ways. 
 
%p
  We start with a screening that determines reading and writing goals so that instruction is
  differentiated for your child. We match your chld with the tutor who has experience and 
  expertise in a specific area, for example,  elementary writing, middle school, dyslexia, 
  or attention disorders. Tutoring is designed to move your child’s reading level and/or improve 
  your child’s writing.  In Private tutoring sessions only, a progress report on goals and 
  recommendations will be available for you and your child’s teacher.