%h1 Literacy Matters...Right?  

%p
  It's not only common sense that learning to read and write matter, it's backed by research.  
  And if we don't read and write well, it's steeped in consequence.  Our entire lives are affected.  
 
%p
  What's not as common sense is how we teach children to read and write, the way we prioritize 
  it in our communities, and the time we devote to good instruction and practice.
 
%p
  If it matters so much, we need to do it more, and do it better.
 
%p
  At Thrive, we continually return to the following research to drive our offerings, environment, and instruction:
 
 
%p
  Research shows clear and direct links between reading achievement and:
 
%ul 
  %li Reading volume (how much and how often we read)
  %li Reading independently, and for pleasure (reading books we want to read, on our own)
  %li Parent involvement (the quantity and quality of time spent learning at home in connection with school)
  %li Getting an early start (quality pre-K and K literacy instruction)
  %li A quality literacy environment (the right teacher, spaces, books, and climate)
  %li Quality writing instruction (better writers are better readers and vice versa)
  %li Motivation and engagement (wanting to read and staying engaged matter)
 
%h2 What's the Urgency?

%p When any number of these factors is lacking in a child's journey towards literacy development, they become early predictors of reading failure.
 
%p Early reading failure (PreK-2) leads to later reading failure (3rd grade and beyond).
 
%p Late reading failure is tied to later graduation, increases your chance of becoming economically disadvantaged, and limits your access to a good job and quality of life. 
 
%p On the contrary, many of the most successful people in our society (Bill Gates, Warren Buffett, Oprah!) say that spending time reading daily is their secret to success! Reading early, daily and well quadruples your chance of leading a happy life, becoming more successful, and raising happy, successful little readers and writers of your own. 
 
 
%p Read more about these research links and the urgency to get this right:
%ul 
  %li Quality Pre-K instruction 
  %li Research on Reading for Pleasure
  %li Independent Reading and Achievement
  %li Research on Developing Early Literacy 
  %li What Reading Does for the Mind 
  %li Early Warning Confirmed: Consequences of not reading proficiently by third grade
 

