.details
  %div 
    %h3 Spring 2016
    .location 
      %h4 Radnor Memorial Library
      .time Thu 11AM-12PM
      .duration 6 wk session 
      .date 3/31-5/5
    .location
      %h4 NEST Center City
      .time Tue 2PM-3PM & 3PM-4PM
      .duration 4 wk session
      .date 3/29-4/19
      .duration 6 wk session
      .date 5/10-6/14
.details
  %div 
    %h3 Summer 2016
    .location
      %h4 LePetit Cherubs Locations
      .date 6/20-7/25 
      .duration 6 wk session
    .location
      %h4 Radnor
      .time Sat 10-11 AM
    .location
      %h4 Cathedral Campus
      .time Wed 10-11 AM
    .location
      %h4 Audobon
      .time Wed 10-11 AM