.details
  %div 
    %h3 Literacy Camps
    %p Our week long, 3 hour a day Literacy Camps are designed for students of all ability levels. Each week is designated for children of different grade levels. Max 6 students per group.  Camp is highly differentiated to students goals and interests.

.details
  %div
    %h3 Weekly Tutoring
    %p Our Weekly Private Tutoring and Small Group Learning Sessions are designed for students who benefit from individualized instruction in reading and/or writing. Groups of children (4 MAX) meet with a reading specialist for 60 minute sessions each week at local libraries. Learn More and sign up for:ekly Tutoring
 

%h1 Summer Session 2016
.age age: 2yr to 12yr

%p A loss of reading and writing skills over the summer, also known as "summer slide," can have a significant impact on your child's success in the next school year. Stay on track through the summer months by dedicating just the right amount of time to intensive, yet ENJOYABLE, practice with reading and writing. 
 
%p Our small group setting provides an optimal, differentiated learning experience for your child. We make our sessions as fun and engaging as we can so we can help your growing readers develop a love of literacy that will carry them through their school years.  


  
  